.header {
    background-color: orange;
    /* float: left; */
    height: 100px;
    /* flex-direction: column; */
}

.title {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align-last: center;
}