.header {
    background-color: orange;
    /* float: left; */
    height: 100px;
    /* flex-direction: column; */
    display: flex;
}

.title {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}